$variant: 'light';
$darker: 'false';
$compact: 'true';
$transparency: 'true';
$titlebutton: 'norm';

@import 'sass/colors';
@import 'sass/drawing-compact';
@import 'sass/common';
@import 'sass/applications';
@import 'sass/unity';
@import 'sass/granite';
@import 'sass/lightdm';
@import 'sass/transparent_widgets';
@import 'sass/budgie.scss';
@import 'sass/colors-public';
